div{
  margin-bottom: 1rem;
}

.Menu{
  background-color: gray;
}

.Header{
  background-color: red;
}

.About{
  background-color: green;
}

.Features{
  background-color: yellow;
}

.Video{
  background-color: cornflowerblue;
}

.Stories{
  background-color: purple;
}

.Team{
  background-color: orchid;
}

.Contacts{
  background-color: goldenrod;
}

.Footer{
  background-color: blue;
}

